.vertically-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login-panel-heading {
	background-color:#f0ad4e !important;
	color:#ffffff !important;
}

body {
	background-color: #FFFFFF;/*#428bca;*/
}

#Header .Left h2 {
	padding: 10px 0;
	margin: 0;
	color: #70665c;
	font-size: 28px;
}

#Header .header {
	padding-left: 20px;
	padding-top: 0;
	width: 60%;
	float: right;
}

#Header {
	border-bottom: 1px solid #ddd;
	background: url(../images/Header.png);
	height: 73px;
}

#Header .Right {
	background: url(../images/WesternPower.png) 98% 0 no-repeat;
	padding: 32px 10px 0 0;
	margin-top: -31px;
	width: 97%;
	float: left;
	text-align: right;
}
