<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='au.com.wp.corp.p6.dao.mapper.P6EllipseMapper'>
	<resultMap type='ellipseActivityDTO' id='workOrderResultMap'>
		<result property='workOrderTaskId' column='WOT' />
		<result property='workGroup' column='work_group' />
		<result property='workOrderDescription' column='wo_desc' />
		<result property='taskStatus' column='Activity_Status' />
		<result property='plannedStartDate' column='plan_str_date' />
		<result property='jdCode' column='job_desc_code' />
		<result property='taskUserStatus' column='task_status_u' />
		<result property='equipmentNo' column='Equipment_no' />
		<result property='plantNoOrPickId' column='plant_no' />
		<result property='EGI' column='EGI' />
		<result property='equipmentCode' column='Equip_Item_code' />
		<result property='originalDuration' column='original_duration_hours' />
		<result property='remainingDuration' column='remaining_dur_hours' />
		<result property='estimatedLabourHours' column='est_lab_hrs' />
		<result property='requiredByDate' column='req_by_date' />
		<result property='ellipseStandardJob' column='std_job_no' />
		<result property='feeder' column='Feeder' />
		<result property='upStreamSwitch' column='upstream_switch' />
	</resultMap>
	<select id="readElipseWorkorderDetails" resultMap="workOrderResultMap">
		SELECT a.work_order || a.wo_task_no AS WOT,
		a.work_group AS work_group,
		b.wo_desc,
		CASE
		WHEN (a.task_status_m = 'C')
		THEN
		'Completed'
		ELSE
		'Not Started'
		END
		AS Activity_Status,
		CASE
		WHEN TRIM (a.plan_str_date) IS NULL
		THEN
		NULL
		ELSE
		SUBSTR (a.plan_str_date, 7, 2)
		|| '/'
		|| SUBSTR (a.plan_str_date, 5, 2)
		|| '/'
		|| SUBSTR (a.plan_str_date, 1, 4)
		|| ' 08:00:00'
		END
		AS plan_str_date,
		CASE
		WHEN TRIM (a.plan_str_date) IS NULL
		THEN
		NULL
		ELSE
		SUBSTR (a.plan_str_date, 7, 2)
		|| '/'
		|| SUBSTR (a.plan_str_date, 5, 2)
		|| '/'
		|| SUBSTR (a.plan_str_date, 1, 4)
		|| ' 08:00:00'
		END
		AS ellipe_start_date,
		a.job_desc_code,
		a.task_status_u,
		b.equip_no AS Equipment_no,
		c.plant_no,
		c.equip_grp_id AS EGI,
		c.item_name_code AS Equip_Item_code,
		ROUND(CASE
		WHEN a.tsk_dur_hours > 0
		THEN
		tsk_dur_hours
		ELSE
		CASE
		WHEN est_lab_hrs > 0 THEN est_lab_hrs / 5
		ELSE 8
		END
		END)
		AS original_duration_hours,
		ROUND(CASE
		WHEN a.tsk_dur_hours > 0
		THEN
		tsk_dur_hours
		ELSE
		CASE
		WHEN est_lab_hrs > 0 THEN est_lab_hrs / 5
		ELSE 8
		END
		END)
		AS remaining_dur_hours,
		a.est_lab_hrs,
		CASE
		WHEN TRIM (b.req_by_date) IS NULL
		THEN
		NULL
		ELSE
		SUBSTR (b.req_by_date, 7, 2)
		|| '/'
		|| SUBSTR (b.req_by_date, 5, 2)
		|| '/'
		|| SUBSTR (b.req_by_date, 1, 4)
		|| ' 08:00:00'
		END
		AS req_by_date,
		b.std_job_no,
		z.swsect_hv_fdr_nam AS Feeder,
		TRIM (z.equip_grp_id) || ' ' || z.location_desc AS upstream_switch,
		a.WO_TASK_DESC AS Task_Description,
		trim(d.STREET_NO) || ' ' || trim(d.STREET_NAME) || ' ' || trim(d.SUBURB) || ' ' ||
		trim(d.TOWN_CITY) || ' ' || trim(d.COUNTY_SHIRE) || ' ' ||
		trim(d.STATE) || ' ' || trim(d.ZIP_CODE) as address

		FROM nell.msf623 a,
		nell.msf620 b,
		nell.msf600 c,
		nell.msf011 d,
		(SELECT d.equip_no,
		swsect_hv_fdr_nam,
		e.equip_grp_id,
		f.location_desc
		FROM (SELECT equip_no,
		pick_id,
		swsect_hv_fdr_id,
		swsect_hv_fdr_nam,
		swsect_nsw_nid,
		RPAD ('N' || swsect_nsw_nid, 30) AS nodeId
		FROM NDWu.DIST_LOCATION_ATTRIBUTE_DIM
		WHERE curr_flg = 'Y') d, nell.msf600 e, nell.msf011 f
		WHERE e.plant_no = d.nodeId AND e.location = f.location) z
		WHERE a.work_order = b.work_order
		AND b.equip_no = c.equip_no
		and d.location = c.location
		<![CDATA[AND (a.task_status_m = 'A' OR (a.task_status_m = 'C' AND a.COMPLETED_CODE
		<> 'CX' AND a.CLOSED_DT IS NOT NULL AND
		TO_DATE(trim(a.CLOSED_DT),'YYYYMMDD') >= ADD_MONTHS(trunc(sysdate),-2)))
         and a.job_desc_code <> 'D1']]>
		and z.equip_no (+) = b.equip_no
		and a.work_group in (
		<foreach item="item" index="index" collection="list"
			separator=",">
			'${item}'
		</foreach>
		)
		order by 1
	</select>
</mapper>