<div class="container search-query-container col-md-offset-1 col-md-10">
	<div class="panel panel-default">
		<div class="panel-heading search-query-panel-heading"><h4>Search Work Orders</h4></div>
		<div class="search-panel-body">
			<form class="form-horizontal" >

				<div class="form-group">
					<label class="control-label col-md-1" for="userId">Depot</label>
					<div class="col-md-4">
						<oi-select oi-options="depot for depot in $ctrl.depotList"
							ng-model="$ctrl.selectedDepotList"
							data-ng-change="$ctrl.onDepotChange()"
							multiple
							placeholder="Select"></oi-select>
					</div>
					<label class="control-label col-md-2" for="userId">Crew</label>
					<div class="col-md-4">
						<oi-select oi-options="crew for crew in $ctrl.crewList"
							ng-model="$ctrl.selectedCrewList"
							multiple
							placeholder="Select"></oi-select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-1" for="pwd">WO#</label>
					<div class="col-md-4">
						<input class="form-control" ng-model="$ctrl.wo" id="wo"/>
					</div>
					<label class="control-label col-md-2" for="pwd">Planned Start Date</label>
					<div class="col-md-5 " > From
					
						<md-datepicker md-current-view="month"   ng-model="$ctrl.scheduleFromDate" md-placeholder="DD/MM/YYYY" ></md-datepicker>
						 &nbsp;&nbsp;To
						<md-datepicker md-current-view="month"  ng-model="$ctrl.scheduleToDate" ng-disabled="$ctrl.metadata.setToDateDisable" md-placeholder="DD/MM/YYYY"></md-datepicker>
					</div>
					<div class="col-md-offset-5" ng-show="$ctrl.isValidationErr">
							<p class="error-message" >{{$ctrl.showErrorMsg}}</p>
					</div>

				</div>
				<div class="form-group">
					<div class="col-md-offset-5" ng-if="$ctrl.metadata.isErrdataAvail == true">
							<p class="error-message" >{{$ctrl.metadata.errorMsg}} </p>
					</div>
				
					<div class="col-md-offset-5 col-md-2" style="padding:4px">
						<button type="submit" class="btn btn-warning btn-block" ng-click="$ctrl.prepareSearch()"><h4>Search</h4></button>
					</div>
					
				</div>
    			<div layout="row" layout-sm="column" layout-align="space-around">
      				<md-progress-circular class="md-warn" ng-disabled="!$ctrl.metadata.activated" md-mode="determinate" value="{{$ctrl.metadata.determinateValue}}"></md-progress-circular>
    			</div>
			</form>
		</div>
	</div>
</div>
