<div class="panel panel-default side-panel col-md-2">
	<div class="panel-body side-panel-body">
		<div class="panel panel-default side-panel col-md-12">
			<div class="panel-heading side-panel-heading"><h4><b>Scheduling</b></h4></div>
			<div class="panel-body side-panel-body">
				<div class="side-panel-button-container col-md-12">
					<button type="submit" class="btn btn-default btn-block side-panel-button " ng-class="{'active-context':$ctrl.activeContext == 'ADD_SCHEDULING_TODO'}" ng-click="$ctrl.setContext('ADD_SCHEDULING_TODO')">Add/Update Scheduling To-Do</button>
				</div>
				<div class="side-panel-button-container col-md-12">
					<button type="submit" class="btn btn-default btn-block">Update Materials Req.</button>
				</div>
				<div class="side-panel-button-container col-md-12">
					<button type="submit" class="btn btn-default btn-block side-panel-button " ng-class="{'active-context':$ctrl.activeContext == 'VIEW_TODO_STATUS'}" ng-click="$ctrl.setContext('VIEW_TODO_STATUS')">View To-Do Status</button>
				</div>
				<div class="side-panel-button-container col-md-12">
					<button type="submit" class="btn btn-default btn-block side-panel-button " ng-class="{'active-context':$ctrl.activeContext == 'CREATE_EXECUTION_PACKAGE'}" ng-click="$ctrl.setContext('CREATE_EXECUTION_PACKAGE')">Create Execution Package</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default side-panel col-md-12">
			<div class="panel-heading side-panel-heading-disabled"><h4><b>Depot</b></h4></div>
			<div class="panel-body side-panel-body">
				<div class="side-panel-button-container col-md-12">
					<button type="submit" class="btn btn-default btn-block disabled side-panel-button">Add Depot To-Do</button>
				</div>
				<div class="side-panel-button-container col-md-12">
					<button type="submit" class="btn btn-default btn-block disabled side-panel-button">View To-Do Status</button>
				</div>
			</div>
		</div>
	</div>
</div>