<div>
	<table class="table table-condensed table-bordered table-striped"
		style="border-collapse:collapse;table-layout: inherit; width: 100%;max-width:169%;">
		<thead class="query-result-header">
			<tr>
				<th style="overflow: hidden; max-width: 20px; width: 30px;">&nbsp;</th>
				<th style="width: 300px; max-width: 300px;">WO #</th>
				<th>Planned Start Date</th>
				<th>Crew Assigned</th>
				<th>Lead Crew</th>
				<th>Execution Package</th>
				<th><span
					ng-if="$ctrl.activeContext == 'DEPOT_VIEW_TODO_STATUS'">Completed</span>
					<span ng-if="$ctrl.activeContext == 'VIEW_TODO_STATUS'">Actioned</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="wo in $ctrl.data" ng-init="woIndex=$index"
				class="accordion-toggle">
				<td>
					<button id="{{wo.workOrders[0] + '-expand'}}"
						class="btn btn-default btn-sm glyphicon glyphicon-plus row-expander"
						ng-click="$ctrl.toggleExpansion($event, wo)"
						data-toggle="collapse"
						data-target="{{'#demo-' + wo.workOrders[0]}}"></button>
				</td>
				<td style="overflow: hidden; width: 300px; max-width: 300px; word-wrap: break-word;">{{wo.workOrders.join(', ')}}</td>
				<td>{{wo.scheduleDate}}</td>
				<td style="overflow: hidden; width: 200px; max-width: 200px; word-wrap: break-word;">{{wo.crewAssigned.unique().join(', ')}}</td>
				<td>{{wo.crewAssigned.returnIfExists(wo.leadCrew)}}</td>
				<td>{{wo.exctnPckgName}}</td>
				<td ng-if="$ctrl.activeContext == 'DEPOT_VIEW_TODO_STATUS'"><span
					ng-show="wo.completed == 'Y'">Yes</span></td>
				<td ng-if="$ctrl.activeContext == 'VIEW_TODO_STATUS'"><span
					ng-show="wo.actioned == 'Y'">Yes</span></td>
			</tr>
			<tr ng-repeat-end>
				<td colspan="12" class="hiddenRow">
					<div class="accordian-body collapse auth-enabled-container"
						id="{{'demo-' + wo.workOrders[0]}}">
						<div ng-show="$ctrl.isReadOnly" class="read-only-cover"></div>
						<div class="panel panel-default panel-standard-to-do" style="width:96%">
							<div class="panel-heading panel-standard-to-do-heading">
								<b>Scheduling To-Do</b>
							</div>
							<div class="panel-body">
								<div class="col-md-12">
									<table class="table table-condensed">
										<thead>
											<th class="standard-to-do-header">To-Do</th>
											<th class="standard-to-do-header">WO Assigned</th>
											<th class="standard-to-do-header">Req By Date</th>
											<th class="standard-to-do-header">Comment</th>
											<th class="standard-to-do-header">Status</th>
											<th class="standard-to-do-header">Supporting Document</th>
										</thead>
										<tbody>
											<tr
												ng-repeat="todo in wo.todoAssignments | filter:{typeId:1}"
												ng-init="todoIndex = $index">
												<td>{{todo.toDoName}}</td>
												<td>{{todo.displayWorkOrders.join(',')}}</td>
												<td><md-datepicker md-current-view="month"
														ng-model="todo.reqByDt" md-placeholder="DD/MM/YYYY"></md-datepicker>
												</td>
												<td><input type="text" class="form-control"
													ng-model="todo.comment"></td>
												<td><select class="form-control" ng-model="todo.status"
													id="crew-select">
														<option disabled>Select</option>
														<option>Not Started</option>
														<option>In Progress</option>
														<option>Completed</option>
												</select></td>
												<td style="position: relative;"><span
													class="ng-binding form-control"
													style="position: absolute; word-wrap: break-word; overflow-y: scroll;"
													ng-click="$ctrl.showPopup(todo)"
													ng-bind-html="todo.supportingDoc"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-12">
									<label for="comment">Scheduling To-Do Comment</label>
									<textarea class="form-control" rows="3" id="comment-1" disabled>{{wo.schedulingComment}}</textarea>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-standard-to-do" style="width:96%">
							<div class="panel-heading panel-standard-to-do-heading">
								<b>Depot To-Do</b>
							</div>
							<div class="panel-body">
								<div class="col-md-12">
									<table class="table table-condensed">
										<thead>
											<th class="standard-to-do-header">To-Do</th>
											<th class="standard-to-do-header">WO Assigned</th>
											<th class="standard-to-do-header">Req By Date</th>
											<th class="standard-to-do-header">Comment</th>
											<th class="standard-to-do-header">Status</th>
											<th class="standard-to-do-header">Supporting Document</th>
										</thead>
										<tbody>
											<tr
												ng-repeat="todo in wo.todoAssignments | filter:{typeId:2}"
												ng-init="todoIndex = $index">
												<td>{{todo.toDoName}}</td>
												<td>{{todo.displayWorkOrders.join(',')}}</td>
												<td><md-datepicker md-current-view="month"
														ng-model="todo.reqByDt" md-placeholder="DD/MM/YYYY"></md-datepicker>
												</td>
												<td><input type="text" class="form-control"
													ng-model="todo.comment"></td>
												<td><select class="form-control" ng-model="todo.status"
													id="crew-select">
														<option disabled>Select</option>
														<option>Not Started</option>
														<option>In Progress</option>
														<option>Completed</option>
												</select></td>
												<td style="position: relative"><span
													class="ng-binding form-control"
													style="position: absolute; word-wrap: break-word; overflow-y: scroll;"
													ng-click="$ctrl.showPopup(todo)"
													ng-bind-html="todo.supportingDoc"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-12">
									<label for="comment">Depot To-Do Comment</label>
									<textarea class="form-control" rows="3" id="comment-1" disabled>{{wo.deportComment}}</textarea>
								</div>
								<div ng-show="wo.savedMsgVisible" class="col-md-offset-8 ">
									<p class="success-message">{{wo.successSavedMsg}}</p>
								</div>
								<div class="col-md-offset-9 col-md-2" style="padding: 5px"
									ng-if="$ctrl.activeContext == 'DEPOT_VIEW_TODO_STATUS'">
									<button id="save-to-do-1" class="btn btn-warning btn-block"
										ng-click="$ctrl.saveToDo(wo)">
										<h4>
											<b>Save</b>
										</h4>
									</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>