<html>
    <head>
        <title>P6 - Search Work Orders</title>
		
		<!-- angular JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		
        <!-- Latest compiled and minified CSS 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		-->
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<!-- jQuery library 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		-->
		<script type="text/javascript" src="js/jquery.js"></script>
		<!-- Latest compiled JavaScript 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		-->
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<!-- Date Picker 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
		-->
		<script type="text/javascript" src="js/date-picker.js"></script>
		<link rel="stylesheet" href="css/date-picker.css"/>
		<!-- Date Picker -->
		<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
		<link rel="stylesheet" href="css/bootstrap-multiselect.css"/>
		
		<!-- Custom style and JS -->
		<script type="text/javascript" src="js/search-wo.js"></script>
		<link rel="stylesheet" href="css/search-wo.css"/>
		<script type="text/javascript" src="js/welcome-angular.js"></script>
		<script type="text/javascript" src="js/searchQuery.js"></script>
		
		 <script>
			
		</script>

    </head>
	<body ng-app="todoPortal"  ng-controller="toDoPortalCOntroller">
		<nav class="navbar navbar-default navbar-static-top navbar-top-fixed container col-md-12">
			<div class="nav navbar-nav"><a href="#" class="navbar-top-link"><h4>Home</h4></a></div>
			<div class="nav navbar-nav navbar-right"><h4>&nbsp;</h4></div>
			<div class="nav navbar-nav navbar-right"><span><h4>Welcome Kausik &nbsp;</h4><a href="/p6-portal/logout" class="navbar-top-link"><h4>Logout&nbsp;</h4></a><span></div>
		</nav>
		<search-query />
		<div class="container container-endless col-md-offset-1 col-md-10">
			<div class="container side-panel-body-container col-md-12">
				<side-panel />
				
			</div>
		</div>
	</body>
</html>
