<html>
    <head>
        <title>P6 - Search Work Orders</title>
		
		<!-- angular JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		
        <!-- Latest compiled and minified CSS 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		-->
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<!-- jQuery library 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		-->
		<script type="text/javascript" src="js/jquery.js"></script>
		<!-- Latest compiled JavaScript 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		-->
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<!-- Date Picker 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
		-->
		<script type="text/javascript" src="js/date-picker.js"></script>
		<link rel="stylesheet" href="css/date-picker.css"/>
		<!-- Date Picker -->
		<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
		<link rel="stylesheet" href="css/bootstrap-multiselect.css"/>
		
		<!-- Custom style and JS -->
		<script type="text/javascript" src="js/search-wo.js"></script>
		<link rel="stylesheet" href="css/search-wo.css"/>
		
		 <script>
			var app = angular.module("todoPortal", []);
			app.controller("toDoPortalCOntroller", function($scope, $http) {
			
				$scope.workOrders = [];
						
				$http.post("/p6-portal-service/retrieveJobs").then(function (response) {
					console.log("Received data from server");
					$scope.fetchedData = response.data;
					console.log("Data from server: " + JSON.stringify($scope.fetchedData));
				});
				
				$scope.todoGrp1 = ["ESA","DEC Permit","DBYD","Gas Permit","Rail Permit","Water Permit","ENAR"];
				$scope.todoGrp2 = ["Traffic","Lay Down Area Arrangements","Fibre Optics","Inductions (Mine Site)","Specialised Plant / Equipment Availability","Additional Trades","Others"];
				$scope.depots = ["Depot1","Depot2","Depot3","Depot4"];
				$scope.crews = ["MOST1","MOST2","MOST3"];
				$scope.resultVisible = false;
				
				$scope.search = function () {
						$scope.workOrders = $scope.fetchedData
						$scope.resultVisible = true;
				};
				$scope.refresh = function () {
						$scope.resultVisible = false;
				};
				$scope.addRemoveTodo = function ($event, wo, todo) {
						var cb = $event.target;
						if (cb.checked) {
							if (findToDo(wo.toDoItems, todo) == -1) {
								if(!wo.toDoItems)
									wo.toDoItems = [];
									
								wo.toDoItems.push({toDoName:todo, workOrders:[wo.workOrders[0]]});
								console.log('WO after adding To Do: ' + JSON.stringify(wo));
							}
								
						} else {
							var index = findToDo(wo.toDoItems, todo);
							if (index > -1) {
								wo.toDoItems.splice(index, 1);
								console.log('WO after removing To Do: ' + JSON.stringify(wo));
							}
						}
							//wo.todos.remove(todo);
						
				};
				
				function findToDo(toDoList, toDoName) {
					if (toDoList) {
						for(i=0; i < toDoList.length; i++) {
							if (toDoList[i].toDoName === toDoName) {
								return i;
							}
						}
					}
					return -1;
				}
				
				$scope.calculateEnable = function(wo, todo) {
					//console.log('Work Order: ');
					//console.log(JSON.stringify(wo));
					if (wo.toDoItems) {
						for(i=0; i < wo.toDoItems.length; i++) {
							//console.log('Comparing ' + wo.toDoItems[i].toDoName + ' with ' + todo);
							if (wo.toDoItems[i].toDoName === todo) {
								//console.log('returning true');
								return true;
							}
						}
					}
					
					//console.log('returning false');
					return false;
				};
				
				$scope.saveToDo = function(wo){
					var req = {
						 method: 'POST',
						 url: '/p6-portal-service/saveWorkOrder',
						 headers: {
						   'Content-Type': 'application/json'
						 },
						 data: JSON.stringify(wo)
					};
					$http(req).then(function (response) {
						console.log("Received data from server");
						$scope.fetchedData = response.data;
						console.log("Data from server: " + JSON.stringify($scope.fetchedData));
						alert("Scheduling TO DO saved for " + wo.workOrders[0]);
					});
				};
				
				$scope.toggleExpansion  = function($event) {
					var button = $event.target;
					
					if($('#'+button.id).hasClass("glyphicon-plus")) {
						$('#'+button.id).removeClass("glyphicon-plus");
						$('#'+button.id).addClass("glyphicon-minus");
					} else if ($('#'+button.id).hasClass("glyphicon-minus")) {
						$('#'+button.id).removeClass("glyphicon-minus");
						$('#'+button.id).addClass("glyphicon-plus");
					}
				};
				
				$scope.page = 'ADD';
				
				$scope.viewToDoStatus = function() {
					$scope.page = 'VIEW';
					$scope.workOrders = [];
				} 
				
				$scope.addUpdateSchedulingToDo = function() {
					$scope.page = 'ADD';
					$scope.workOrders = [];
				} 
				
			});
			
		</script>

    </head>
	<body ng-app="todoPortal"  ng-controller="toDoPortalCOntroller">
		<nav class="navbar navbar-default navbar-static-top navbar-top-fixed container col-md-12">
			<div class="nav navbar-nav"><a href="#" class="navbar-top-link"><h4>Home</h4></a></div>
			<div class="nav navbar-nav navbar-right">Welcome Kausik &nbsp;<a href="/p6-portal/logout" class="navbar-top-link"><h4>Logout</h4></a></div>
			<!--<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" class="navbar-top-link"><h4>Home</h4></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="navbar-top-link"><h4>Administration</h4></a></li>
				</ul>
			</div>-->
		</nav>
		<div class="container search-query-container col-md-offset-1 col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading search-query-panel-heading"><h4>Search Work Orders</h4></div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-2" for="userId">Depot</label>
							<div class="col-md-3">
								<select class="form-control" id="depot-select" multiple="multiple">
									<option>Depot 1</option>
									<option>Depot 2</option>
									<option>Depot 3</option>
									<option>Depot 4</option>
								</select>
							</div>
							<label class="control-label col-md-1" for="userId">Crew</label>
							<div class="col-md-3">
								<select class="form-control" id="crew-select" multiple="multiple">
									<option>MOST1</option>
									<option>MOST2</option>
									<option>MOST3</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="pwd">Execution Package</label>
							<div class="col-md-3">
								<input class="form-control" id="executionPkg"/>
							</div>
							<label class="control-label col-md-1" for="pwd">Planned Start Date</label>
							<div class="col-md-3">
								<div class="input-group input-append date" id="datePicker">
									<input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text"/>
									<span class="input-group-addon add-on">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="btn-group col-md-offset-5">
								<button type="submit" class="btn btn-warning btn-lg" ng-click="refresh()">Refresh</button>
								<button type="submit" class="btn btn-warning btn-lg" ng-click="search()">Search</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="container container-endless col-md-offset-1 col-md-10">
		<div class="container side-panel-body-container col-md-12">
			<div class="panel panel-default side-panel col-md-2">
				<div class="panel-body side-panel-body">
					<div class="panel panel-default side-panel col-md-12">
						<div class="panel-heading side-panel-heading"><h4><b>Scheduling</b></h4></div>
						<div class="panel-body side-panel-body">
							<div class="side-panel-button-container col-md-12">
								<button type="submit" class="btn btn-default btn-block side-panel-button" ng-click="addUpdateSchedulingToDo()">Add/Update Scheduling To-Do</button>
							</div>
							<div class="side-panel-button-container col-md-12">
								<button type="submit" class="btn btn-default btn-block">Update Materials Req.</button>
							</div>
							<div class="side-panel-button-container col-md-12">
								<button type="submit" class="btn btn-default btn-block side-panel-button" ng-click="viewToDoStatus()">View To-Do Status</button>
							</div>
							<div class="side-panel-button-container col-md-12">
								<button type="submit" class="btn btn-default btn-block side-panel-button">Create Execution Package</button>
							</div>
						</div>
					</div>
					<div class="panel panel-default side-panel col-md-12">
						<div class="panel-heading side-panel-heading-disabled"><h4><b>Depot</b></h4></div>
						<div class="panel-body side-panel-body">
							<div class="side-panel-button-container col-md-12">
								<button type="submit" class="btn btn-default btn-block disabled side-panel-button">Add Depot To-Do</button>
							</div>
							<div class="side-panel-button-container col-md-12">
								<button type="submit" class="btn btn-default btn-block disabled side-panel-button">View To-Do Status</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel query-result-panel panel-primary col-md-10" ng-show="resultVisible">
				<div class="panel-body">
					<table class="table table-condensed table-bordered table-striped" style="border-collapse:collapse;">
						<thead class="query-result-header">
							<tr>
								<th>&nbsp;</th>
								<th>Execution Package</th>
								<th>WO #</th>
								<th>Planned Start Date</th>
								<th>Crew Assigned</th>
								<th>Lead Crew</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat-start="wo in workOrders"class="accordion-toggle">
								<td>
									<button id="{{wo.workOrders[0] + '-expand'}}" class="btn btn-default btn-lg glyphicon glyphicon-plus row-expander" ng-click="toggleExpansion($event)" data-toggle="collapse" data-target="{{'#demo-' + wo.workOrders[0]}}">
									</button>
								</td>
								<td>{{wo.executionPackage}}</td>
								<td>{{wo.workOrders[0]}}</td>
								<td>{{wo.scheduleDate}}</td>
								<td>{{wo.leadCrew}}</td>
								<td> 
									<select class="form-control" id="lead-crew-select" disabled>
										<option>&nbsp;</option>
									</select> 
								</td>
							</tr>
							<tr ng-repeat-end>
								<td colspan="12" class="hiddenRow">
									<div class="accordian-body collapse" id="{{'demo-' + wo.workOrders[0]}}">
										<div ng-show="{{page == 'ADD'}}" class="panel panel-default panel-standard-to-do">
											<div class="panel-heading panel-standard-to-do-heading"><b>Select Scheduling To-Do</b></div>
											<div class="panel-body">
												<div class="col-md-6">
													<table class="table table-condensed">
														<thead>
															<th class="standard-to-do-header">To-Do</th>
															<th class="standard-to-do-header">Enable</th>
															<th class="standard-to-do-header">Linked WO</th>
														</thead>
														<tbody>
															<tr ng-repeat="todo in todoGrp1">
																<td>{{todo}}</td>
																<td><input type="checkbox" ng-checked="calculateEnable(wo, todo)" ng-click="addRemoveTodo($event, wo, todo)"></td>
																<td>
																	<select class="form-control"  ng-disabled="!calculateEnable(wo, todo)">
																		<!--<option disabled selected>Select</option>-->
																		<option ng-if="calculateEnable(wo, todo)">{{wo.workOrders[0]}}</option>
																	</select>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-6">
													<table class="table table-condensed">
														<thead>
															<th class="standard-to-do-header">To-Do</th>
															<th class="standard-to-do-header">Enable</th>
															<th class="standard-to-do-header">Linked WO</th>
														</thead>
														<tbody>
															<tr ng-repeat="todo in todoGrp2">
																<td>{{todo}}</td>
																<td><input type="checkbox" ng-checked="calculateEnable(wo, todo)" ng-click="addRemoveTodo($event, wo, todo)"></td>
																<td>
																	<select class="form-control"  ng-disabled="!calculateEnable(wo, todo)">
																		<option ng-if="calculateEnable(wo, todo)">{{wo.workOrders[0]}}</option>
																	</select>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12">
													<label for="comment">Scheduling To-Do Comment</label>
													<textarea class="form-control" rows="3" id="comment-1" ng-model="wo.schedulingToDoComment"></textarea> 
												</div>
												<div class="col-md-offset-9 col-md-2" style="padding:5px">
													<button id="save-to-do-1" class="btn btn-warning btn-block" ng-click="saveToDo(wo)">
														<h4><b>Save</b></h4>
													</button>
												</div>
											</div>	
										</div>
										<div ng-show="{{page == 'VIEW'}}" class="panel panel-default panel-standard-to-do">
											<div class="panel-heading panel-standard-to-do-heading"><b>Scheduling To-Do</b></div>
											<div class="panel-body">
												<div class="col-md-12">
													<table class="table table-condensed">
														<thead>
															<th class="standard-to-do-header">To-Do</th>
															<th class="standard-to-do-header">WO Assigned</th>
															<th class="standard-to-do-header">Req By Date</th>
															<th class="standard-to-do-header">Comment</th>
															<th class="standard-to-do-header">Status</th>
															<th class="standard-to-do-header">Supporting Document</th>
														</thead>
														<tbody>
															<tr ng-repeat="todo in wo.toDoItems">
																<td>{{todo.toDoName}}</td>
																<td>{{todo.workOrders[0]}}</td>
																<td>
																	<div class="input-group input-append date" id="{{'datePicker-' + todo.workOrders[0] + '-' + todo.toDoName}}">
																		<input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text" ng-model="todo.reqByDate"/>
																		<span class="input-group-addon add-on">
																			<span class="glyphicon glyphicon-calendar"></span>
																		</span>
																	</div>
																</td>
																<td><input type="text" class="form-control" id="userId" ng-model="todo.comment"></td>
																<td>
																	<select class="form-control" ng-model="todo.status" id="crew-select">
																		<option disabled>Select</option>
																		<option>Not Started</option>
																		<option>In Progress</option>
																		<option>Completed</option>
																	</select>
																</td>
																<td><input type="text" class="form-control" id="userId" ng-model="todo.supportingDocLink"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12">
													<label for="comment">Scheduling To-Do Comment</label>
													<textarea class="form-control" rows="3" id="comment-1" disabled>{{wo.schedulingToDoComment}}</textarea> 
												</div>
												<div class="col-md-12">
													<label for="comment">Depot To-Do Comment</label>
													<textarea class="form-control" rows="3" id="comment-1" disabled>{{wo.depotToDoComment}}</textarea> 
												</div>
												<div class="col-md-offset-9 col-md-2" style="padding:5px">
													<button id="save-to-do-1" class="btn btn-warning btn-block" ng-click="saveToDo(wo)">
														<h4><b>Save</b></h4>
													</button>
												</div>
											</div>	
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
